<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Construction Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/index.css') }}">

</head>

<body>
    <!-- Header Section -->
    <div class="header">
        <div class="left-nav">
            <!-- Logo link -->
            <a href="/">
                <img src="static/images/constructhub-logo.png" alt="ConstructHub Logo"
                    class="logo">
            </a>
        </div>
        <nav>
            <a href="about">About Us</a>
            <a href="blog">Blog</a>
            <a href="register">Register</a>
            <a href="login">Login</a>
            <a></a>
        </nav>
    </div>

    <!-- Hero Section -->
    <div class="hero">
        <h1>Welcome to the ConstructHub</h1>
        <p>A Central Hub To Track and Benchmark Your Construction Proposals.</p>
        <a href="/register">Get Started</a>
    </div>

    <!-- Footer Section -->
    <div class="footer">
        <p>&copy; 2024 ConstructHub. All rights reserved.</p>

        <div class="footer-links">
            <a href="/Privacy_Policy" target="_blank">Privacy Policy</a> |
            <a href="/subscription_agreement" target="_blank">Subscription Agreement</a> |
            <a href="/terms_of_use" target="_blank">Terms of Use</a>
        </div>

</body>

</html>