<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Lookup | ConstructHub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/dashboard_global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/project_search.css') }}">
 
</head>

<body>
    {% include 'sidebar.html' %}

<!-- Main Content -->
    <div class="main-content">
        <div class="container">
            <h1>Project Lookup</h1>

            <form id="searchForm">
                <div>
                    <h3>Search by Project Name</h3>
                    <input type="text" id="projectName" placeholder="Enter project name...">
        
                    <h3>Advanced Search (Address, City, Province, Postal Code)</h3>
                    <input type="text" id="address" placeholder="Address">
                    <input type="text" id="city" placeholder="City">
                    <div>
                        <select id="province" name="province" class="input-field">
                            <option value="">Select Province</option>
                            <option value="Alberta">Alberta</option>
                            <option value="British Columbia">British Columbia</option>
                            <option value="Manitoba">Manitoba</option>
                            <option value="New Brunswick">New Brunswick</option>
                            <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
                            <option value="Nova Scotia">Nova Scotia</option>
                            <option value="Ontario">Ontario</option>
                            <option value="Prince Edward Island">Prince Edward Island</option>
                            <option value="Manitoba">Manitoba</option>
                            <option value="Quebec">Quebec</option>
                            <option value="Saskatchewan">Saskatchewan</option>
                        </select>
                    </div>
                    <input type="text" id="postalCode" placeholder="Postal Code">
                </div>
                
                <button type="submit">Search</button>
            </form>
        </div>


        <div class="project-list" id="projectList">
        </div>
        <div id="errorContainer"></div>
    </div>

    <div id="bidConfirmationModal" class="popup-overlay" style="display: none;">
        <span class="close" onclick="closeBidConfirmation()">X</span>

        <div class="popup-content">
            <p>Do you wish to submit a bid for this project?</p>
            <button id="confirmBid">Yes</button>
            <button id="cancelBid">No</button>
        </div>
    </div>

    <div id="ConfirmationModal" class="popup-overlay" style="display: none;">
        <span class="close" onclick="closeBidConfirmation()">X</span>

        <div class="popup-content">
            <p>Do you wish to add a project ?</p>
            <button id="confirmtogoproject">Yes</button>
            <button onclick="cancelConfirm()">No</button>
        </div>
    </div>

    <div id="editConfirmationModal" class="popup-overlay" style="display: none;">
        <span class="close" onclick="closeBidConfirmation()">X</span>

        <div class="popup-content">
            <p id="editMessage"></p>
            <button onclick="editBidConfirm()">Yes</button>
            <button onclick="closeBidConfirmation()">No</button>
        </div>
    </div>

    <div id="editbid" class="popup-overlay" style="display: none;">
        <span class="close" onclick="closeBidConfirmation()">X</span>

        <div class="popup-content">
            <p>Do you wish to update a project's closing Date ?</p>
            <input id="editClosingDate" type="date" value="">
            <button onclick="updateClosingDate()">Yes</button>
            <button onclick="closeBidConfirmation()">No</button>
        </div>
    </div>

    <div id="errorConfirmationModal" class="popup-overlay" style="display: none;">
        <span class="close" onclick="closeBidConfirmation()">X</span>

        <div class="popup-content">
            <p id="errorMessage">You can edit your bid after 24 hours!</p>
            <button onclick="closeBidConfirmation()">OK</button>
        </div>
    </div>
    {% include 'footer.html' %}

    <script>
        function showLogoutPopup() {
            document.getElementById('logoutPopup').style.display = 'flex';
        }

        function closeLogoutPopup() {
            document.getElementById('logoutPopup').style.display = 'none';
        }

        function confirmLogout() {
            window.location.href = '/logout';  // Redirect to the homepage
        }
    </script>

 <script>
    let project_id;


document.getElementById('searchForm').addEventListener('submit', function (event) {
    event.preventDefault(); // Prevent the default form submission

    // Clear previous results and errors
    document.getElementById('projectList').innerHTML = '';
    document.getElementById('errorContainer').innerText = '';

    // Get input values
    const projectName = document.getElementById('projectName').value;
    const address = document.getElementById('address').value;
    const city = document.getElementById('city').value;
    const province = document.getElementById('province').value;
    const postalCode = document.getElementById('postalCode').value;

    // Build query string
    const query = new URLSearchParams({
        projectName,
        address,
        city,
        province,
        postalCode
    }).toString();

    // Send the GET request to the API
    fetch(`/project_search/search?${query}`)
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            // Check if we have results
            if (data.length === 0) {
                document.getElementById('errorContainer').innerText = 'No projects found.';
                document.getElementById('ConfirmationModal').style.display = 'flex';

            } else {
                // Display the results
                data.forEach(project => {
                    const projectDiv = document.createElement('div');
                    projectDiv.className = 'project';
                    projectDiv.innerHTML = `
                        <div class="project-item" data-project-name="${project.projectName}" data-project-id="${project.id}">
                            <h3>${project.projectName}</h3>
                            <p>${project.address}, ${project.city}, ${project.province}, ${project.postalCode}</p>
                        </div>
                    `;
                    document.getElementById('projectList').appendChild(projectDiv);
                });

                // Add click event to each project item
                const projectItems = document.querySelectorAll('.project-item');
                projectItems.forEach(item => {
                    item.addEventListener('click', function () {
                        const projectId = this.getAttribute('data-project-id');
                        project_id = projectId;
                        showBidConfirmation(projectId);
                    });
                });
            }
        })
        .catch(error => {
            document.getElementById('errorContainer').innerText = 'An error occurred while fetching the projects.';
            console.error('There was a problem with the fetch operation:', error);
        });
});


// Function to show the bid confirmation modal
function showBidConfirmation(projectId) {

    fetch(`/project_search/bid/${projectId}`)
    .then(response => {
        return response.json();
      })
    .then(data => {
        // alert(data.message)
        if (data.state == 1) {
            document.getElementById("errorMessage").textContent = "You can edit your bid after 24 hours!"
            document.getElementById('errorConfirmationModal').style.display = 'flex';
            // window.location.reload();
        } if (data.state == 2) {
            document.getElementById("errorMessage").textContent = "No revisions allowed; project is closed!"
            document.getElementById('errorConfirmationModal').style.display = 'flex';
        } if (data.state == 3) {
            document.getElementById("editMessage").textContent = "Do you wish to edit your bid for this project?"
            // document.getElementById('editConfirmationModal').style.display = 'flex';
            document.getElementById('editbid').style.display = 'flex';
            
        } 
        else {
            
            document.getElementById('bidConfirmationModal').style.display = 'flex';

            document.getElementById('confirmBid').onclick = function () {
                // Handle Yes click (e.g. submit a bid)
                window.location.href = `/Bid_Entry/${projectId}`
                closeBidConfirmation();
            };
        }
    })
    .catch(error => { 
        console.error('Error: ', error);
    })

    document.getElementById('cancelBid').onclick = function () {
        closeBidConfirmation();
    };


}

document.getElementById('confirmtogoproject').onclick = function () {
    window.location.href = '/add_project';
    closeBidConfirmation();

};

// Function to close the modal
function closeBidConfirmation() {
    document.getElementById('bidConfirmationModal').style.display = 'none';
    document.getElementById('editConfirmationModal').style.display = 'none';
    document.getElementById('errorConfirmationModal').style.display = 'none';
    document.getElementById('editbid').style.display = 'none';
}

function cancelConfirm() {
    document.getElementById('ConfirmationModal').style.display = 'none';
}

function updateClosingDate(projectId) {
    const date = document.getElementById('editClosingDate').value;
    const data = {date}
    fetch(`/editbid/${project_id}`, {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    }).then(response => response.json())
    .then(data => {
        alert(data.message)
        closeBidConfirmation()
    })
}

 </script>


</body>
</html>
