<div class="sidebar">
    <div class="left-nav">
        <a href="/">
            <img src="/static/images/constructhub-logo.png" alt="ConstructHub Logo" class="logo">
        </a>
        <a href="/dashboard">Dashboard</a>
        <div class="dropdown">
            <a href="#">User HUB</a>
            <div class="dropdown-content">
                <a href="/profile" style="pointer-events: none; color: grey;">User HUB</a>
                <a href="/profile/edit">Edit Personal Info</a>
                <a href="/profile/notifications" style="pointer-events: none; color: grey;">Notification Settings</a>
                <a href="/manage_company">Company Details</a>
                <a href="/user_management">User Management</a>
                <a href="/subscription_details">Subscription Details</a>
            </div>
        </div>

    </div>
    <a href="/Project_Search">Search Projects</a>
    <a href="/add_project">Add Project</a>
    <a href="/detailed_reports">Reports</a>
    <a href="/bidding_history">Bidding History</a>
    <a href="#" onclick="showLogoutPopup()">Logout</a>
</div>